<h1>{{opcion}}</h1>


<div *ngIf="(opcion=='Insertar') ||(opcion=='Modificar')">
    <div>
        <mat-form-field >
            <mat-label>Year</mat-label>
            <input [(ngModel)]='this.year' matInput>
        </mat-form-field> 
    </div>
    <div>
        <mat-form-field >
            <mat-label>Area</mat-label>
            <input [(ngModel)]='this.area' matInput>
        </mat-form-field> 
    </div>
    <div>
        <mat-form-field >
            <mat-label>Rank</mat-label>
            <input [(ngModel)]='this.rank' matInput>
        </mat-form-field> 
    </div>
    <div>
        <mat-form-field >
            <mat-label>Domestic exports</mat-label>
            <input [(ngModel)]='this.domestic' matInput>
        </mat-form-field> 
    </div>
</div>


<div *ngIf="(opcion=='Eliminar')||(opcion=='Modificar')">
    <div>
        <mat-form-field >
            <mat-label>Id</mat-label>
            <input [(ngModel)]='this.id' matInput>
        </mat-form-field> 
    </div>
</div>


<div>
        <button mat-raised-button color="primary" style="margin: 10px" (click)="enviar()">Enviar</button>
</div>