
<div *ngIf="(opcion=='Eliminar'); else loggedOut">
    <div>
        <mat-form-field >
            <mat-label>Id</mat-label>
            <input [(ngModel)]='this.id' matInput>
        </mat-form-field> 
    </div>
</div>

<ng-template #loggedOut>
    <div>
        <mat-form-field >
            <mat-label>Year</mat-label>
            <input [(ngModel)]='this.year' matInput>
        </mat-form-field> 
    </div>
    <div>
        <mat-form-field >
            <mat-label>Area</mat-label>
            <input [(ngModel)]='this.area' matInput>
        </mat-form-field> 
    </div>
    <div>
        <mat-form-field >
            <mat-label>Domestic exports</mat-label>
            <input [(ngModel)]='this.domestic' matInput>
        </mat-form-field> 
    </div>
</ng-template>





<div>
        <button mat-raised-button color="primary" style="margin: 10px" (click)="enviar()">Enviar</button>
</div>